.label {
	background-color: $color-sunset-orange;
	border-radius: 999px;
	font-size: 10px;
	line-height: 20px;
	letter-spacing: 2px;
	padding-top: 0;
	padding-bottom: 0;
	height: 20px;
	text-transform: uppercase;
	padding-left: 14px;
	padding-right: 14px;
}