.section {

	&__title {
		color: $color-black;
		font-size: 22px;
		line-height: 26px;
		font-weight: bold;
		font-family: $font-secondary;
		margin-top: 0;
		margin-bottom: 15px;
	}

	@media (min-width: 642px ) {

		&__title {
			margin-bottom: 35px;
		}

	}

}

.section--hero {
	height: 100vh;
	background-image: url( '../img/hero-bg-compressor.jpg' );
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.row, 
	.columns {
		height: 100%;
	}

}

.section--steps {
	padding-top: 35px;

	@media (min-width: 642px ) {
		padding-top: 95px;
	}

}