.step {
	$padding: 20px;
	color: white;
	border-radius: 4px;
	padding: $padding;
	height: 240px;
	position: relative;
	margin-bottom: 10px;
	background-size: cover;
	background-position: center;

	&:before {
	    content: '';
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    position: absolute;
	    background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,.6));
	}

	&__content {
		position: absolute;
		bottom: $padding;
		left: $padding;
	}
	
	&__title {
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 1;
		font-weight: bold;
		color: white;
		margin-top: 0;
		margin-bottom: 9px;
	}

	&__text {
		margin-bottom: 0;
	}

	&__label {
		margin-bottom: 14px;
	}

	@media( min-width: 642px ) {
		height: 400px;
	}

}

.step--1 {
	background-image: url( '../img/step-1.jpg' );
}

.step--2 {
	background-image: url( '../img/step-2.jpg' );
}

.step--3 {
	background-image: url( '../img/step-3.jpg' );
}